.button {
    width: 300px;
    height: 40px;
    font-size: 18px;
    color: brown;
}

.modalContent {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: blue; */
}